<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <style type="text/css">
        form{
            padding: 20px 30px;
        }
    </style>
</head>
<body>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="time" id="beginDate" lay-verify="date" placeholder="开始日" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="time" id="endDate" lay-verify="date" placeholder="截止日" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" placeholder="姓名" id="realname" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <input type="text" placeholder="标题" id="title" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">
                    <select id="payTagField" th:fragment="payTagField">
                        <option value="" >选择支付方式</option>
                        <option th:each="t:${allTags}" th:value="${t.tagid}" th:text="${t.tagName}"></option>
                    </select>
                </div>
                <button class="layui-btn" type="button" lay-filter="search">
                    <i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
        </form>
    </div>

    <div class="layui-card-body">
        <xblock>
            <span class="x-right" style="line-height:40px">共有数据：<span id="num"></span> 条</span>
        </xblock>
        <table id="billTable" lay-filter="billTable"></table>
    </div>
</div>
</body>
<script>
    layui.use(['form','layer','table','util'],function () {
        var table = layui.table,
            form = layui.form,
            layer = layui.layer,
            util = layui.util;
        var userid = sessionStorage.getItem("userid");

        //get Tag data 初始化搜索框数据
        $.ajax({
            url: '/getPayTags/'+ userid +'/pay',
            type: 'POST',
            success: function (data) {
                $("#payTagField").html($(data).html());
                form.render('select');
            }
        });

        //get Bill data 初始化表格数据
        table.render({
            elem: '#billTable',
            url: '/getBill/pay/' + userid,
            method: 'post',
            cols:[
                [
                    {title: '序号', width: '8%', sort:true, type:'numbers'},
                    {field: 'id', title: 'ID', hide:true},
                    {field: 'tagName', title: '标签', width: '15%'},
                    {field: 'relation', title: '家庭称呼', width: '12%'},
                    {field: 'nickname', title: '用户昵称', width: '12%'},
                    {field: 'money', title: '金额', width: '8%'},
                    {field: 'time', title: '时间', width: '15%', sort:true, templet:'#timeToString'},
                    {field: 'comment', title: '备注', width: '20%'},
                    {fixed: 'right', align:'center', width: '10%', toolbar: '#barDemo'}
                ]
            ],
            page: true,
            limits: [10, 20, 30],
            limit: 10,
            id: 'tableReload',
            done: function (res){
                $('#num').text(res.count);
            }
        })

        //listen to table tool
        table.on('tool(billTable)', function (obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除此账单么', function(index){
                    /** DELETE post **/
                    var url = '/delBill/'+data.id;
                    console.log(url);
                    $.post(url, function (res) {
                        if(res.code == 200){
                            layer.msg(res.msg,{time:400},function () {
                                obj.del();
                            });
                        }else {
                            layer.msg(res.msg)
                        }
                    })
                    layer.close(index);
                })
            }else if(obj.event === 'edit'){
                sessionStorage.setItem("currentBillID", data.id);
                /** EDIT post **/
                var url = '/pages/details_billEdit';
                layer.open({
                    type: 2,
                    area: ['600px', '50%'],
                    fix: false, //不固定
                    maxmin: true,
                    shadeClose: false,
                    shade:0.1,
                    title: '更改用户信息',
                    content: [url, 'no']
                });
            }
        })
    })

</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="timeToString">
    {{layui.util.toDateString(d.time , "yyyy-MM-dd")}}
</script>
</html>