<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家庭成员</title>
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <style type="text/css">
        .layui-table th{
            /*表头内容居中显示*/
            text-align: center;
        }
        textarea{
            outline:none;
            resize:none
        }
    </style>
</head>
</head>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-card-body">
            <form class="layui-form layui-col-md12 x-so" >
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" placeholder="用户昵称" name="nickname" class="layui-input" id="nickname">
                    </div>
                </div>
                <button class="layui-btn" type="button" lay-submit="" lay-filter="search" onclick="">
                    <i class="layui-icon">&#xe615;</i>搜索
                </button>
            </form>
        </div>
    </div>

    <div class="layui-card-body">
        <xblock>
            <button class="layui-btn" id="add"><i class="layui-icon"></i>添加</button>
            <span class="x-right" style="line-height:40px">共有 <span id="num"></span> 条数据</span>
        </xblock>
        <table id="hometable" lay-filter="hometable"></table>
    </div>
</div>
</body>
<script>
    layui.use(['table','form', 'layer'],function () {
        var table = layui.table,
            form = layui.form,
            layer = layui.layer

        //init the table datas
        var userid = sessionStorage.getItem("userid");
        table.render({
            elem: '#hometable',
            url: '/getHomeMember/' + userid,
            method: 'post',
            cols:[
                [   //标题栏
                    {field: 'id', title: '用户编号', width: '10%', sort:true},
                    {field: 'nickname', title: '昵称', width: '15%'},
                    {field: 'realname', title: '实名', width: '15%'},
                    {field: 'relation', title: '家庭关系', width: '10%'},
                    {field: 'tel', title: '用户电话', width: '15%'},
                    {field: 'email', title: '用户邮箱', width: '15%'},
                    {field: 'access', title: '用户权限', width: '11%'},
                    {fixed: 'right', align:'center', width: '10%', toolbar: '#barDemo'}
                ]
            ],
            page: true,
            limit: 10,
            id: 'tableReload',
            done: function (res){
                $('#num').text(res.count);
            }
        })

        //listen to the search form submit
        form.on('submit(search)', function (data){
            console.log(data.field)
            table.reload('tableReload',{
                url: '/',
                page:{
                    curr:1
                },
                where:{
                    homeid: data.field.homeid,
                    hostname: data.field.hostname,
                },
                done: function (res) {    //check layui DONE document
                    $('#num').text(res.count);
                }
            })

        })

        //listen to table tool
        table.on('tool(hometable)', function (obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    /** DELETE post **/
                    var url = "";
                    console.log(url);
                    $.post(url, function (res) {
                        if(res.code == 200){
                            layer.msg(res.msg,{time:400},function () {
                                obj.del();
                            });
                        }else {
                            layer.msg(res.msg)
                        }
                    })
                    layer.close(index);
                })
            }else if(obj.event === 'edit'){
                /** EDIT post **/
                layer.open({
                    id:1,
                    type: 1,
                    title:'请输入需要修改的地址信息',
                    style: 'width:80%;height:auto;',
                    content: "",
                    btn:['保存','取消'],
                    yes:function (index,layero) {
                        //获取输入框里面的值
                        var closeContent = top.$("#area").val() || $("#area").val();
                        if(closeContent){
                            console.log(closeContent);
                        }
                        layer.close(index);
                        // 在这里提交数据
                        var url = '';
                        console.log(url);
                        $.post(url, function (res) {
                            if(res.code == 200){
                                layer.msg(res.msg,{time:400},function () {
                                    obj.update({
                                        address: closeContent
                                    })
                                });
                            }else {
                                layer.msg(res.msg)
                            }
                        })
                    },
                    no:function (index,layero) {
                        layer.close(index);
                    }
                });
            }
        })
    });

</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</html>