<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldwin.dao.HomeMapper">

    <select id="getAllHome" resultType="com.baldwin.entity.Home">
        SELECT h.id, h.ownerid, h.member, h.acctnum, h.address, r.nickname, r.realname
        FROM (home AS h LEFT JOIN user ON h.ownerid = user.id)
                 LEFT JOIN roleinfo AS r ON user.roleid = r.roleid
        UNION
        SELECT *,NULL,NULL FROM home WHERE acctnum = 0
    </select>

    <select id="getHomeByID_Hostname" resultType="com.baldwin.entity.Home">
        SELECT * FROM
        (SELECT h.id, h.ownerid, h.member, h.acctnum, h.address, r.nickname, r.realname
        FROM (home AS h LEFT JOIN user ON h.ownerid = user.id)
        LEFT JOIN roleinfo AS r ON user.roleid = r.roleid
        UNION
        SELECT *,NULL,NULL FROM home WHERE acctnum = 0) AS result
        <where>
            <if test="hostname!=null">OR nickname = #{hostname}</if>
            <if test="hostname!=null">OR realname = #{hostname}</if>
            <if test="homeid!=null">AND id = #{homeid}</if>
        </where>
        LIMIT #{begin}, #{num}
    </select>

    <select id="countAllHome" resultType="int">
        SELECT count(1) FROM home
    </select>

    <select id="getAllHomePage" resultType="com.baldwin.entity.Home">
        SELECT * FROM
        (SELECT h.id, h.ownerid, h.member, h.acctnum, h.address, r.nickname, r.realname
        FROM (home AS h LEFT JOIN user ON h.ownerid = user.id)
                 LEFT JOIN roleinfo AS r ON user.roleid = r.roleid
        UNION
        SELECT *,NULL,NULL FROM home WHERE acctnum = 0) AS result
        LIMIT #{begin}, #{num}
    </select>

    <update id="updateHomeAddress">
        UPDATE home SET address = #{address} WHERE id = #{homeid}
    </update>

    <delete id="deleteHome">
        DELETE FROM home WHERE id = #{homeid}
    </delete>

    <insert id="addHomeAddress" parameterType="com.baldwin.entity.Home" useGeneratedKeys="true" keyProperty="id">
        insert into home(id,ownerid,acctnum,address)
            value (null, null, 0, #{address})
    </insert>

    <insert id="addHomeAddressAcct" parameterType="com.baldwin.entity.Home" useGeneratedKeys="true" keyProperty="id">
        insert into home(id,ownerid,acctnum,address)
            value (null, #{ownerId}, 1, #{address})
    </insert>

    <update id="updateHomeMember">
        UPDATE home SET acctnum = acctnum + #{num} WHERE id = #{homeid}
    </update>

    <update id="updateHomeHost">
        UPDATE home SET ownerid = #{userid} WHERE id = #{homeid}
    </update>

    <select id="getHomeByHomeID" resultType="com.baldwin.entity.Home">
        SELECT * FROM home WHERE id = #{homeid}
    </select>

</mapper>