<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldwin.dao.UserMapper">

    <select id="loginConfirm" resultType="com.baldwin.entity.User">
        SELECT * FROM user WHERE acct = #{acct} AND pwd = #{pwd}
    </select>

    <select id="getCurrentUserInfo" resultType="com.baldwin.entity.RoleInfo">
        SELECT * FROM roleinfo WHERE roleid = #{roleid}
    </select>

    <insert id="regUser" parameterType="com.baldwin.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(id, roleid, homeid, acct, pwd)
            VALUE (null, null, null, #{acct}, #{pwd})
    </insert>

    <select id="existUserCheck" resultType="int">
        SELECT count(1) FROM user WHERE acct = #{acct}
    </select>

    <insert id="setUserPermission" parameterType="int">
        INSERT INTO permission VALUE (#{userid}, #{access})
    </insert>

    <select id="getAllHome" resultType="com.baldwin.entity.Home">
        SELECT h.id, h.ownerid, h.member, h.acctnum, h.address, r.nickname, r.realname
        FROM (home AS h LEFT JOIN user ON h.ownerid = user.id)
                 LEFT JOIN roleinfo AS r ON user.roleid = r.roleid
        UNION
        SELECT *,NULL,NULL FROM home WHERE acctnum = 0
    </select>
</mapper>