<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baldwin.dao.UserMapper">

    <select id="loginConfirm" resultType="com.baldwin.entity.User">
        SELECT * FROM user WHERE acct = #{acct} AND pwd = #{pwd}
    </select>

    <select id="getCurrentUserInfo" resultType="com.baldwin.entity.RoleInfo">
        SELECT * FROM roleinfo WHERE roleid = #{roleid}
    </select>

    <insert id="regUser" parameterType="com.baldwin.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(id, roleid, homeid, acct, pwd)
            VALUE (null, null, null, #{acct}, #{pwd})
    </insert>

    <insert id="addUser" parameterType="com.baldwin.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(id, roleid, homeid, acct, pwd)
            VALUE (null, #{roleId}, #{houseId}, #{acct}, #{pwd})
    </insert>

    <insert id="addUserNoHomeID" parameterType="com.baldwin.entity.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(id, roleid, homeid, acct, pwd)
            VALUE (null, #{roleId}, null, #{acct}, #{pwd})
    </insert>

    <select id="existUserCheck" resultType="int">
        SELECT id FROM user WHERE acct = #{acct}
    </select>

    <insert id="setUserPermission" parameterType="int">
        INSERT INTO permission VALUE (#{userid}, #{access})
    </insert>

    <update id="setHomeIDbyAcct">
        UPDATE user SET homeid = #{homeid} WHERE acct = #{acct}
    </update>

    <resultMap id="userInfoBean" type="com.baldwin.entity.User">
        <result column="id" property="id"/>
        <result column="homeid" property="houseId"/>
        <result column="acct" property="acct"/>
        <result column="pwd" property="pwd"/>
        <association property="roleInfo" javaType="com.baldwin.entity.RoleInfo">
            <result column="roleid" property="roleId"/>
            <result column="relation" property="relation"/>
            <result column="nickname" property="nickname"/>
            <result column="realname" property="realname"/>
            <result column="tel" property="tel"/>
            <result column="email" property="email"/>
        </association>
        <association property="access" javaType="com.baldwin.entity.Permission">
            <result column="access" property="access"/>
        </association>
    </resultMap>

    <select id="getAllUser" resultMap="userInfoBean">
        SELECT id, homeid, nickname, realname, relation, tel, email, access
        FROM permission RIGHT JOIN (user AS u LEFT JOIN roleinfo AS r ON u.roleid = r.roleid)
            ON u.id = permission.userid
        ORDER BY id ASC LIMIT #{begin},#{num}
    </select>

    <select id="countAllUser" resultType="int">
        SELECT count(1) FROM user
    </select>

    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{userid}
    </delete>

    <delete id="deleteAccess" >
        DELETE FROM permission WHERE userid = #{userid}
    </delete>

    <select id="getUserByID" resultType="com.baldwin.entity.User">
        SELECT * FROM user WHERE id = #{userid}
    </select>

    <update id="updateRoleInfo" parameterType="com.baldwin.entity.RoleInfo">
        UPDATE roleinfo
        <set>
            <if test="nickname != null and nickname !=''">username = #{username},</if>
            <if test="realname != null and realname !=''">realname = #{realname},</if>
            <if test="relation != null and relation !=''">relation = #{relation},</if>
            <if test="tel != null and tel !=''">tel = #{tel},</if>
            <if test="email != null and email !=''">email = #{email},</if>
        </set>
        WHERE roleid = #{roleId}
    </update>

    <insert id="addRoleInfo" parameterType="com.baldwin.entity.RoleInfo"
            useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO roleinfo(roleid, relation, nickname, realname, tel, email)
        VALUE (null, #{relation}, #{nickname}, #{realname}, #{tel}, #{email})
    </insert>

</mapper>